@{
    ViewBag.Title = "SecretCode";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gro Group</title>

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/knockout-2.2.0.js")" type="text/javascript"></script>

    <script type="text/javascript" language="javascript">

        var log;
        jQuery(document).ready(function ($) {

            log = new viewModel();
            ko.applyBindings(log);



        });

        function viewModel() {
            var self = this;

            $.ajax({
                //url: "../GroGroup/ValidateClientIPAddress",
                url: "@Url.Content("~/GroGroup/ValidateClientIPAddress")",
                type: "POST",
                async: false,
                success: function (response) {
                    if (response.Items != "") {
                        document.getElementById('hylnInactive').click();
                    }
                }
            });
        }


        var key = "SXGWLZPDOKFIVUHJYTQBNMACERxswgzldpkoifuvjhtybqmncare";
        function getCookie(c_name) {
            var c_value = document.cookie;
            var c_start = c_value.indexOf(" " + c_name + "=");
            if (c_start == -1) {
                c_start = c_value.indexOf(c_name + "=");
            }
            if (c_start == -1) {
                c_value = null;
            }
            else {
                c_start = c_value.indexOf("=", c_start) + 1;
                var c_end = c_value.indexOf(";", c_start);
                if (c_end == -1) {
                    c_end = c_value.length;
                }
                c_value = unescape(c_value.substring(c_start, c_end));
                c_value = decodeStr(c_value);
            }
            return c_value;
        }


        function setCookie(c_name, value, exdays) {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString());
            document.cookie = c_name + "=" + c_value;
        }

        function checkCookie() {

            var seccode = document.getElementById('txtSecretCode').value.split(",");
           // seccode = seccode.toUpperCase();
            var cookiename = document.getElementById('txtCookieName').value;
            var secretexpirydays = document.getElementById('txtSecretExpiryDays').value;

            var username = getCookie(cookiename);
            for (var i = 0; i < seccode.length; i++) {

                codesec = seccode[i].toUpperCase();
                if (username == codesec) {
                     document.getElementById('btnSecretSubmit').click();
                    return;
                }
            }
            if (username != seccode)
            {

                username = document.getElementById('EditSecretCode').value;
                username = username.toUpperCase();

                for (var i = 0; i < seccode.length; i++) {
                    var codesecupp = seccode[i].toUpperCase();
                    if (username == codesecupp)
                         codesec = seccode[i];

                }
                seccode = codesec.toUpperCase();


                if (username == seccode) {
                    var enusname = encodeStr(username);
                    setCookie(cookiename, enusname, parseInt(secretexpirydays));
                    document.getElementById('btnSecretSubmit').click();
                }
                else {
                    if (document.getElementById('EditSecretCode').value != "") {
                        alert('Invalid Secret Code. Please try again');
                        document.getElementById('EditSecretCode').value = "";
                        document.getElementById('EditSecretCode').focus();
                    }
                }
            }
        }

        function onKeyPressed(ev) {
            var e = ev || event;
            if (e.keyCode == 13) {
                checkCookie();
                return false; //prevents form from being submitted.
            }
        }

        //Encrypt and decrypt

        function encodeStr(uncoded) {

            uncoded = uncoded.toUpperCase().replace(/^\s+|\s+$/g, "");
            var coded = "";
            var chr;
            for (var i = uncoded.length - 1; i >= 0; i--) {
                chr = uncoded.charCodeAt(i);
                coded += (chr >= 65 && chr <= 90) ?
      key.charAt(chr - 65 + 26 * Math.floor(Math.random() * 2)) :
      String.fromCharCode(chr);
            }

            //decodeStr(coded);
            return encodeURIComponent(coded);
        }

        function decodeStr(coded) {
            coded = decodeURIComponent(coded);
            var uncoded = "";
            var chr;
            for (var i = coded.length - 1; i >= 0; i--) {
                chr = coded.charAt(i);
                uncoded += (chr >= "a" && chr <= "z" || chr >= "A" && chr <= "Z") ?
      String.fromCharCode(65 + key.indexOf(chr) % 26) :
      chr;
            }
            //alert(uncoded);
            return uncoded;
        }

    </script>
</head>

<body onload="checkCookie();">

    <input id="txtSecretCode" type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["SecretCode"]" />
    <input id="txtCookieName" type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["CookieName"]" />
    <input id="txtSecretExpiryDays" type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["SecretExpiryDays"]" />
   
    <div class="container">
        <center>
            <table style="margin-top:25%;">
                <tr>
                    <td>
                        <label>Please enter your Secret Code</label>
                    </td>
                    <td>
                        <input id="EditSecretCode" name="EditSecretCode" type="password" autofocus  onkeyup="onKeyPressed(event);"/>
                    </td>
                    <td>
                        <input style="width:30px;" value="OK" id="btnOk" type="button" onclick="checkCookie();" />
                    </td>
                </tr>
            </table>
        </center>
    </div>
    @using (Html.BeginForm())
{
         <input style="display:none" id="btnSecretSubmit" type="submit" />
}
    <a id="hylnInactive" style="display:none" href="@Url.Content("~/GroGroup/IPRestriction")"></a>
</body>
</html>
